<app-home></app-home>
<hr>
<h3 class="mt-5 mb-3">Create a new reservation</h3>
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div class="row mb-3">
    <div class="col">
      <label class="form-label" for="checkInDate">Check In Date:</label>
      <input class="form-control" type="date" id="checkInDate" formControlName="checkInDate" />
      <small
        class="text-danger"
        *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched"
      >
        Check-In Date is required.
      </small>
    </div>
    <div class="col">
      <label class="form-label" for="checkOutDate">Check Out Date:</label>
      <input id="checkOutDate" class="form-control" type="date" formControlName="checkOutDate" />
      <small
        class="text-danger"
        *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched"
      >
        Check-Out Date is required.
      </small>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <label class="form-label" for="guestName">GuestName:</label>
      <input class="form-control" id="guestName" type="text" formControlName="guestName" />
      <div *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
        Guest Name is required.
      </div>
    </div>
    <div class="col">
      <label class="form-label" for="guestEmail">Email:</label>
      <input id="guestEmail" class="form-control" type="email" formControlName="guestEmail" />
      <small
        class="text-danger"
        *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched"
      >
        Email address is required.
      </small>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-3">
      <label class="form-label" for="roomNumber">Room Number:</label>
      <input id="roomNumber" class="form-control" type="number" formControlName="roomNumber" />
      <small
        class="text-danger"
        *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched"
      >
        Room number is required.
      </small>
    </div>
  </div>
  <button class="btn btn-primary" [disabled]="reservationForm.invalid" type="submit">Submit</button>
</form>
